<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Github(Abhijeet1005)</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="weird">

        <h2>Login</h2>

        <% if (errorMessage) { %>
            <p class="error-message">
                <%= errorMessage %>
            </p>
            <% } %>

                <form id="login_form" action="login" method="post">
                    <div class="input-box">
                        <label for="username"><i class='bx bx-user'></i></label>
                        <input type="text" id="username" name="username" required class="form-floating" placeholder="Username">
                        
                    </div>
                    <div class="input-box">
                        <label for="password"><i class='bx bxs-lock-alt'></i></label>
                        <input type="password" id="password" name="password" required class="text-box" placeholder="Password">
                    </div>

                    <input type="submit" id="login_button" value="Login" />

                </form>
                <p>Don't have an account? <a href="signup">Sign up</a></p>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>